.home {
  & .jumbo-video {
    background-color: var(--secondary-gray);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    gap: 1em;
    padding: 1em;

    & .video {
      width: 50%;
      aspect-ratio: 16/9;
    }

    & .words {
      width: 50%;

      & p {
        margin-top: 1em;
      }

      & .hidden {
        max-height: 14rem;
        overflow: hidden;
      }

      & button {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        padding: 0.5em 0;
        text-decoration: underline;
      }
    }
  }

  & .loading {
    & .video {
      background: black;
    }

    & h3 {
      height: 1.3em;
    }

    & p {
      height: 10em;
    }

    & h3,
    & p {
      background: linear-gradient(
        to right,
        #2d2d2d 0%,
        #3e3e3e 10%,
        #2d2d2d 20%
      );
      background-size: 200% 200%;
      border-radius: 3px;
      animation: loading 2s linear infinite;
    }
  }

  & .video-link {
    & img {
      aspect-ratio: 16/9;
    }
  }

  & .latest,
  & .playlist .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.5em 2em;
  }

  & .latest {
    margin: 4rem 0;
  }

  & .playlist {
    margin: 10rem 0;
  }

  & .playlist .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
      background: var(--secondary-gray);
      border-radius: 5px;
      display: flex;
      align-items: center;
      padding: 0.5em;

      & span {
        font-size: 1.414rem;
        text-align: center;
      }

      & img {
        margin-left: 1rem;
        height: 1.5em;
      }
    }
  }
}

@keyframes loading {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
