.home {
  & .jumbo-video {
    background-color: #3e3e3e;
    border-radius: 5px;
    display: inline-flex;
    align-items: flex-start;
    gap: 1em;
    padding: 1em;

    & .video {
      width: 50%;
      aspect-ratio: 16/9;
    }

    & .words {
      width: 50%;

      & p {
        margin-top: 1em;
      }

      & .hidden {
        max-height: 14rem;
        overflow: hidden;
      }

      & button {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        padding: 0.5em 0;
        text-decoration: underline;
      }
    }
  }

  & .video-link {
    & img {
      aspect-ratio: 16/9;
    }
  }

  & .latest,
  & .playlist .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2em;
  }

  & .latest,
  & .playlist {
    margin: 4rem 0;
  }
}
