.video-page {
	& iframe {
	  width: 100%;
	}

  	& article {
	  margin-bottom: 2rem;
	  display: flex;
	  align-items: start;

	  & .text {

	  }

	  & span {
		line-height: 1;
		display: block;
	  }

	  & .user-name {
		font-weight: 600;
		white-space: nowrap;
	  }

	  & img {
		border-radius: 50%;
		height: 2em;
		margin-right: 1em;
	  }
	}
}