.home {
  & .jumbo-video {
    background-color: var(--secondary-gray);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    padding: 2em;

    @media screen and (min-width: 800px) {
      flex-direction: row;
    }

    & .video {
      aspect-ratio: 16/9;
      width: 100%;
    }

    & .words {
      width: 100%;

      @media screen and (min-width: 800px) {
        width: 100%;
      }

      & p {
        margin-top: 1em;
      }

      & .hidden {
        max-height: 14rem;
        overflow: hidden;
      }

      & button {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        padding: 0.5em 0;
        text-decoration: underline;
      }
    }
  }

  & .loading {
    & .video {
      background: black;
    }

    & h3 {
      height: 1.3em;
    }

    & p {
      height: 10em;
    }

    & h3,
    & p {
      background: linear-gradient(
        to right,
        #2d2d2d 0%,
        #3e3e3e 10%,
        #2d2d2d 20%
      );
      background-size: 200% 200%;
      border-radius: 3px;
      animation: loading 2s linear infinite;
    }
  }

  & .video-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & img {
      width: 100%;
    }

    & h4 {
      width: 100%;
      margin-top: 0.5em;
    }
  }

  & .latest,
  & .playlist .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2em;
  }

  & .latest {
    margin: 2rem 0;
  }

  & .playlist {
    margin: 10rem 0;

    & .videos {
      margin-top: 2rem;
    }
  }

  & .playlist .title {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & h2 {
      margin: 0;
      width: 70%;
    }

    & a {
      background: var(--secondary-gray);
      border-radius: 5px;
      display: inline-flex;
      align-items: center;
      padding: 0.5em;

      & span {
        font-size: 1.414rem;
        text-align: center;
      }

      & img {
        margin-left: 1rem;
      }
    }
  }
}

@keyframes loading {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
